In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing as prep
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from statsmodels.tsa.holtwinters import SimpleExpSmoothing, Holt

C:\Users\Administrator\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\Administrator\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [6]:
df = pd.read_csv(r"C:\htdocs\maqi_emv\model\MAQI_NCR_TestData.csv")

In [7]:
df

,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,NO2
0,6/22/2020,-58,-26,-58,-67,-53,26,0.000025
1,6/23/2020,-58,-25,-58,-66,-55,27,0.000105
2,6/24/2020,-60,-26,-61,-69,-55,28,0.000085
3,6/25/2020,-59,-25,-59,-67,-54,27,0.000073
4,6/26/2020,-60,-25,-59,-68,-53,29,0.000023
...,...,...,...,...,...,...,...,...
243,6/17/2021,-36,11,-36,-59,-39,21,0.000090
244,6/18/2021,-37,8,-38,-61,-37,22,0.000086
245,6/19/2021,-32,13,-31,-55,-22,15,0.000051
246,6/20/2021,-36,10,-28,-56,-16,12,0.000046
247,6/22/2021,-38,7,-40,-59,-40,22,0.000060

In [10]:
#df2=df.drop("date", axis=1, inplace=True)

In [12]:
#retail = df[['retail_and_recreation_percent_change_from_baseline']]

In [13]:
#scaler = MinMaxScaler()
#scaler.fit(retail)

MinMaxScaler()

In [14]:
#retail

     retail_and_recreation_percent_change_from_baseline
0                                                  -58
1                                                  -58
2                                                  -60
3                                                  -59
4                                                  -60
..                                                 ...
243                                                -36
244                                                -37
245                                                -32
246                                                -36
247                                                -38

[248 rows x 1 columns]

In [16]:
columns = ['retail_and_recreation_percent_change_from_baseline', 'grocery_and_pharmacy_percent_change_from_baseline', 'parks_percent_change_from_baseline', 'transit_stations_percent_change_from_baseline', 'workplaces_percent_change_from_baseline', 'residential_percent_change_from_baseline', 'NO2']

min_max = prep.MinMaxScaler()
df[columns] = min_max.fit_transform(df[columns])
df.head()

,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,NO2
0,0.451613,0.400000,0.350000,0.595238,0.414286,0.444444,0.177784
1,0.451613,0.411765,0.350000,0.619048,0.385714,0.472222,0.555366
2,0.419355,0.400000,0.300000,0.547619,0.385714,0.500000,0.462276
3,0.435484,0.411765,0.333333,0.595238,0.400000,0.472222,0.405916
4,0.419355,0.411765,0.333333,0.571429,0.414286,0.527778,0.167953

In [18]:
df['mov_avg'] = df[columns].rolling(10).sum()

ValueError: Expected a 1D array, got an array with shape (248, 7)