In [ ]:
import pandas as pd
import numpy as np
import epyestim
import epyestim.covid19 as covid19

In [11]:
ddrop1 = pd.read_csv("DOH COVID Data Drop_ 20220611 - 04 Case Information_batch_0.csv", dtype={"CityMuniPSGC":str, "BarangayRes":str, "BarangayPSGC":str})

In [12]:
ddrop2 = pd.read_csv("DOH COVID Data Drop_ 20220611 - 04 Case Information_batch_1.csv", dtype={"CityMuniPSGC":str, "BarangayRes":str, "BarangayPSGC":str})

In [13]:
ddrop3 = pd.read_csv("DOH COVID Data Drop_ 20220611 - 04 Case Information_batch_2.csv", dtype={"CityMuniPSGC":str, "BarangayRes":str, "BarangayPSGC":str})

In [15]:
ddrop = [ddrop1, ddrop2, ddrop3]

In [19]:
conso = pd.concat(ddrop, ignore_index=True)

In [20]:
conso

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
0,C404174,38.0,35 to 39,FEMALE,NaN,2020-01-30,2020-01-30,NaN,NaN,RECOVERED,...,NEGROS ORIENTAL,DUMAGUETE CITY (CAPITAL),PH074610000,NaN,NaN,RECOVERED,NO,2020-01-21,NO,"Removal Type is ""Recovered"", but no Recovered ..."
1,C462688,44.0,40 to 44,MALE,NaN,2020-01-30,2020-02-03,2020-02-01,NaN,DIED,...,NEGROS ORIENTAL,DUMAGUETE CITY (CAPITAL),PH074610000,NaN,NaN,DIED,NO,2020-01-18,NaN,NaN
2,C387710,60.0,60 to 64,FEMALE,2020-01-23,2020-01-30,2020-02-05,NaN,2020-01-31,RECOVERED,...,BOHOL,PANGLAO,PH071233000,NaN,NaN,RECOVERED,NO,2020-01-21,NO,Age or Birthdate is Invalid\nCase has Admittin...
3,C377460,49.0,45 to 49,MALE,NaN,NaN,2020-03-06,NaN,NaN,RECOVERED,...,BATANGAS,SANTO TOMAS,PH041028000,NaN,NaN,RECOVERED,NO,NaN,NaN,"Removal Type is ""Recovered"", but no Recovered ..."
4,C498051,63.0,60 to 64,MALE,2020-03-05,NaN,2020-03-06,2020-03-11,NaN,DIED,...,RIZAL,CAINTA,PH045805000,NaN,NaN,DIED,NO,NaN,NaN,Age or Birthdate is Invalid\nCase has Lab Resu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,C17523713,19.0,15 to 19,FEMALE,2022-01-04,2022-01-08,2022-01-11,NaN,2022-01-15,RECOVERED,...,NCR,CITY OF NAVOTAS,PH137503000,NaN,NaN,RECOVERED,NO,NaN,NO,NaN
2999996,C54651184,1.0,0 to 4,MALE,2022-01-06,2022-01-08,2022-01-11,NaN,NaN,RECOVERED,...,BULACAN,CITY OF SAN JOSE DEL MONTE,PH031420000,SAPANG PALAY,PH031420010,RECOVERED,NO,2022-01-06,NaN,"Removal Type is ""Recovered"", but no Recovered ..."
2999997,C33855824,42.0,40 to 44,MALE,2022-01-05,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF MALABON,PH137502000,TONSUYA,PH137502020,RECOVERED,NO,NaN,NaN,"Health Status is ""Recovered"", but no Date Reco..."
2999998,C67189584,24.0,20 to 24,FEMALE,2022-01-09,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,QUEZON CITY,PH137404000,CENTRAL,PH137404020,RECOVERED,NO,NaN,NO,"Health Status is ""Recovered"", but no Date Reco..."
2999999,C84021418,25.0,25 to 29,MALE,2022-01-06,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,BULACAN,CALUMPIT,PH031407000,PALIMBANG,PH031407018,RECOVERED,NO,2022-01-06,NaN,"Health Status is ""Recovered"", but no Date Reco..."

## Regional Segmentation
NCR

Region IV-A: CALABARZON

BARMM

### NCR

In [33]:
ncr = conso[conso["RegionRes"] == "NCR"]

In [57]:
ncr_sample = ncr[(ncr['DateRepConf'] > '2020-01-01') & (ncr['DateRepConf'] < '2022-04-01')]

In [58]:
ncr_sample

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
6,C178743,39.0,35 to 39,MALE,2020-03-06,2020-03-08,2020-03-08,NaN,2020-03-21,RECOVERED,...,NCR,CITY OF MAKATI,PH137602000,NaN,NaN,RECOVERED,YES,2020-03-03,NaN,Age or Birthdate is Invalid
7,C557002,86.0,80+,MALE,2020-03-06,2020-03-08,2020-03-08,2020-03-14,NaN,DIED,...,NCR,CITY OF MARIKINA,PH137402000,NaN,NaN,DIED,NO,2020-03-01,NaN,Age or Birthdate is Invalid
10,C382946,52.0,50 to 54,MALE,2020-03-07,NaN,2020-03-09,2020-04-09,NaN,DIED,...,NCR,QUEZON CITY,PH137404000,NaN,NaN,DIED,NO,2020-03-03,NaN,"Case has Lab Result, but Result Date is blank\..."
11,C817111,46.0,45 to 49,FEMALE,2020-03-09,NaN,2020-03-09,NaN,2020-03-26,RECOVERED,...,NCR,CITY OF PASIG,PH137403000,NaN,NaN,RECOVERED,NO,2020-03-08,NO,Age or Birthdate is Invalid\nCase has Lab Resu...
14,C261144,68.0,65 to 69,FEMALE,2020-03-03,2020-03-09,2020-03-09,NaN,2020-03-19,RECOVERED,...,NCR,CITY OF SAN JUAN,PH137405000,NaN,NaN,RECOVERED,YES,2020-03-02,NO,Age or Birthdate is Invalid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999993,C94611088,33.0,30 to 34,MALE,2022-01-07,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF MAKATI,PH137602000,WEST REMBO,PH137602032,RECOVERED,NO,2022-01-03,NaN,"Health Status is ""Recovered"", but no Date Reco..."
2999994,C37051704,41.0,40 to 44,FEMALE,2022-01-08,2022-01-10,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CALOOCAN CITY,PH137501000,BARANGAY 168,PH137501168,RECOVERED,NO,NaN,NO,"Health Status is ""Recovered"", but no Date Reco..."
2999995,C17523713,19.0,15 to 19,FEMALE,2022-01-04,2022-01-08,2022-01-11,NaN,2022-01-15,RECOVERED,...,NCR,CITY OF NAVOTAS,PH137503000,NaN,NaN,RECOVERED,NO,NaN,NO,NaN
2999997,C33855824,42.0,40 to 44,MALE,2022-01-05,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF MALABON,PH137502000,TONSUYA,PH137502020,RECOVERED,NO,NaN,NaN,"Health Status is ""Recovered"", but no Date Reco..."
2999998,C67189584,24.0,20 to 24,FEMALE,2022-01-09,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,QUEZON CITY,PH137404000,CENTRAL,PH137404020,RECOVERED,NO,NaN,NO,"Health Status is ""Recovered"", but no Date Reco..."

In [59]:
ncrsumm = pd.pivot_table(ncr_sample, index='DateRepConf', values='CaseCode', aggfunc='count')

In [60]:
ncrsumm

             CaseCode
DateRepConf
2020-03-08          2
2020-03-09         11
2020-03-10          7
2020-03-11         13
2020-03-12          2
...               ...
2022-01-07      13732
2022-01-08      16320
2022-01-09      17093
2022-01-10      18764
2022-01-11       1939

[675 rows x 1 columns]

In [62]:
ncrsumm.to_csv("ncrcasecount.csv")

### CALABARZON

In [63]:
r4 = conso[conso["RegionRes"] == "Region IV-A: CALABARZON"]

In [64]:
r4_sample = ncr[(ncr['DateRepConf'] > '2020-01-01') & (ncr['DateRepConf'] < '2022-04-01')]

In [65]:
r4_sample

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
6,C178743,39.0,35 to 39,MALE,2020-03-06,2020-03-08,2020-03-08,NaN,2020-03-21,RECOVERED,...,NCR,CITY OF MAKATI,PH137602000,NaN,NaN,RECOVERED,YES,2020-03-03,NaN,Age or Birthdate is Invalid
7,C557002,86.0,80+,MALE,2020-03-06,2020-03-08,2020-03-08,2020-03-14,NaN,DIED,...,NCR,CITY OF MARIKINA,PH137402000,NaN,NaN,DIED,NO,2020-03-01,NaN,Age or Birthdate is Invalid
10,C382946,52.0,50 to 54,MALE,2020-03-07,NaN,2020-03-09,2020-04-09,NaN,DIED,...,NCR,QUEZON CITY,PH137404000,NaN,NaN,DIED,NO,2020-03-03,NaN,"Case has Lab Result, but Result Date is blank\..."
11,C817111,46.0,45 to 49,FEMALE,2020-03-09,NaN,2020-03-09,NaN,2020-03-26,RECOVERED,...,NCR,CITY OF PASIG,PH137403000,NaN,NaN,RECOVERED,NO,2020-03-08,NO,Age or Birthdate is Invalid\nCase has Lab Resu...
14,C261144,68.0,65 to 69,FEMALE,2020-03-03,2020-03-09,2020-03-09,NaN,2020-03-19,RECOVERED,...,NCR,CITY OF SAN JUAN,PH137405000,NaN,NaN,RECOVERED,YES,2020-03-02,NO,Age or Birthdate is Invalid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999993,C94611088,33.0,30 to 34,MALE,2022-01-07,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF MAKATI,PH137602000,WEST REMBO,PH137602032,RECOVERED,NO,2022-01-03,NaN,"Health Status is ""Recovered"", but no Date Reco..."
2999994,C37051704,41.0,40 to 44,FEMALE,2022-01-08,2022-01-10,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CALOOCAN CITY,PH137501000,BARANGAY 168,PH137501168,RECOVERED,NO,NaN,NO,"Health Status is ""Recovered"", but no Date Reco..."
2999995,C17523713,19.0,15 to 19,FEMALE,2022-01-04,2022-01-08,2022-01-11,NaN,2022-01-15,RECOVERED,...,NCR,CITY OF NAVOTAS,PH137503000,NaN,NaN,RECOVERED,NO,NaN,NO,NaN
2999997,C33855824,42.0,40 to 44,MALE,2022-01-05,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF MALABON,PH137502000,TONSUYA,PH137502020,RECOVERED,NO,NaN,NaN,"Health Status is ""Recovered"", but no Date Reco..."
2999998,C67189584,24.0,20 to 24,FEMALE,2022-01-09,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,QUEZON CITY,PH137404000,CENTRAL,PH137404020,RECOVERED,NO,NaN,NO,"Health Status is ""Recovered"", but no Date Reco..."

In [66]:
r4summ = pd.pivot_table(r4_sample, index='DateRepConf', values='CaseCode', aggfunc='count')

In [67]:
r4summ

             CaseCode
DateRepConf
2020-03-08          2
2020-03-09         11
2020-03-10          7
2020-03-11         13
2020-03-12          2
...               ...
2022-01-07      13732
2022-01-08      16320
2022-01-09      17093
2022-01-10      18764
2022-01-11       1939

[675 rows x 1 columns]

In [68]:
r4summ.to_csv("r4casecount.csv")

### BARMM

In [69]:
BARMM = conso[conso["RegionRes"] == "BARMM"]

In [70]:
barmm_sample = BARMM[(BARMM['DateRepConf'] > '2020-01-01') & (BARMM['DateRepConf'] < '2022-04-01')]

In [71]:
barmm_sample

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
195,C859333,58.0,55 to 59,MALE,2020-03-10,2020-03-18,2020-03-18,2020-03-16,NaN,DIED,...,LANAO DEL SUR,MARAWI CITY (CAPITAL),PH153617000,NaN,NaN,DIED,NO,2020-03-05,NaN,Age or Birthdate is Invalid
497,C401296,62.0,60 to 64,MALE,2020-03-13,2020-03-23,2020-03-24,NaN,2020-04-01,RECOVERED,...,LANAO DEL SUR,MARAWI CITY (CAPITAL),PH153617000,NaN,NaN,RECOVERED,NO,2020-03-11,NaN,NaN
543,C710775,56.0,55 to 59,FEMALE,2020-03-13,2020-03-23,2020-03-24,NaN,2020-04-01,RECOVERED,...,LANAO DEL SUR,MARAWI CITY (CAPITAL),PH153617000,NaN,NaN,RECOVERED,NO,2020-03-07,NO,Age or Birthdate is Invalid
604,C339765,27.0,25 to 29,FEMALE,2020-03-14,2020-03-24,2020-03-25,NaN,NaN,RECOVERED,...,LANAO DEL SUR,MARAWI CITY (CAPITAL),PH153617000,NaN,NaN,RECOVERED,NO,2020-03-14,NO,"Health Status is ""Recovered"", but no Date Reco..."
619,C939061,68.0,65 to 69,FEMALE,2020-03-16,2020-03-24,2020-03-25,NaN,2020-03-21,RECOVERED,...,COTABATO CITY (NOT A PROVINCE),COTABATO CITY,PH159804000,NaN,NaN,RECOVERED,YES,2020-03-12,NO,Age or Birthdate is Invalid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999152,C73817834,26.0,25 to 29,FEMALE,2022-01-09,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,MAGUINDANAO,DATU ODIN SINSUAT (DINAIG),PH153807000,TAMONTAKA,PH153807032,RECOVERED,NO,2022-01-08,NO,"Health Status is ""Recovered"", but no Date Reco..."
2999488,C61577465,65.0,65 to 69,FEMALE,2022-01-08,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,LANAO DEL SUR,MARAWI CITY (CAPITAL),PH153617000,BASAK MALUTLUT,PH153617066,RECOVERED,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
2999585,C36193271,36.0,35 to 39,FEMALE,2022-01-10,2022-01-10,2022-01-11,NaN,NaN,RECOVERED,...,LANAO DEL SUR,MARAWI CITY (CAPITAL),PH153617000,RAPASUN MSU,PH153617107,RECOVERED,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
2999676,C75071067,13.0,10 to 14,FEMALE,2022-01-09,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,LANAO DEL SUR,WAO,PH153630000,EASTERN WAO,PH153630011,RECOVERED,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
2999691,C80103384,26.0,25 to 29,MALE,2022-01-07,2022-01-08,2022-01-11,NaN,NaN,RECOVERED,...,BASILAN,SUMISIP,PH150705000,BACUNG,PH150705001,RECOVERED,NO,2022-01-07,NaN,"Removal Type is ""Recovered"", but no Recovered ..."

In [76]:
barmmsumm = pd.pivot_table(barmm_sample, index='DateRepConf', values='CaseCode', aggfunc='count')

In [74]:
barmmsumm

             CaseCode
DateRepConf
2020-03-18          1
2020-03-24          2
2020-03-25          2
2020-03-30          2
2020-04-01          1
...               ...
2022-01-07         24
2022-01-08         30
2022-01-09         61
2022-01-10         82
2022-01-11          8

[592 rows x 1 columns]

In [75]:
barmmsumm.to_csv("barmmcasecount.csv")

### PH

In [80]:
ph_sample = conso[(conso['DateRepConf'] > '2020-01-01') & (conso['DateRepConf'] < '2022-04-01')]
ph_sample

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
0,C404174,38.0,35 to 39,FEMALE,NaN,2020-01-30,2020-01-30,NaN,NaN,RECOVERED,...,NEGROS ORIENTAL,DUMAGUETE CITY (CAPITAL),PH074610000,NaN,NaN,RECOVERED,NO,2020-01-21,NO,"Removal Type is ""Recovered"", but no Recovered ..."
1,C462688,44.0,40 to 44,MALE,NaN,2020-01-30,2020-02-03,2020-02-01,NaN,DIED,...,NEGROS ORIENTAL,DUMAGUETE CITY (CAPITAL),PH074610000,NaN,NaN,DIED,NO,2020-01-18,NaN,NaN
2,C387710,60.0,60 to 64,FEMALE,2020-01-23,2020-01-30,2020-02-05,NaN,2020-01-31,RECOVERED,...,BOHOL,PANGLAO,PH071233000,NaN,NaN,RECOVERED,NO,2020-01-21,NO,Age or Birthdate is Invalid\nCase has Admittin...
3,C377460,49.0,45 to 49,MALE,NaN,NaN,2020-03-06,NaN,NaN,RECOVERED,...,BATANGAS,SANTO TOMAS,PH041028000,NaN,NaN,RECOVERED,NO,NaN,NaN,"Removal Type is ""Recovered"", but no Recovered ..."
4,C498051,63.0,60 to 64,MALE,2020-03-05,NaN,2020-03-06,2020-03-11,NaN,DIED,...,RIZAL,CAINTA,PH045805000,NaN,NaN,DIED,NO,NaN,NaN,Age or Birthdate is Invalid\nCase has Lab Resu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,C17523713,19.0,15 to 19,FEMALE,2022-01-04,2022-01-08,2022-01-11,NaN,2022-01-15,RECOVERED,...,NCR,CITY OF NAVOTAS,PH137503000,NaN,NaN,RECOVERED,NO,NaN,NO,NaN
2999996,C54651184,1.0,0 to 4,MALE,2022-01-06,2022-01-08,2022-01-11,NaN,NaN,RECOVERED,...,BULACAN,CITY OF SAN JOSE DEL MONTE,PH031420000,SAPANG PALAY,PH031420010,RECOVERED,NO,2022-01-06,NaN,"Removal Type is ""Recovered"", but no Recovered ..."
2999997,C33855824,42.0,40 to 44,MALE,2022-01-05,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF MALABON,PH137502000,TONSUYA,PH137502020,RECOVERED,NO,NaN,NaN,"Health Status is ""Recovered"", but no Date Reco..."
2999998,C67189584,24.0,20 to 24,FEMALE,2022-01-09,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,QUEZON CITY,PH137404000,CENTRAL,PH137404020,RECOVERED,NO,NaN,NO,"Health Status is ""Recovered"", but no Date Reco..."
2999999,C84021418,25.0,25 to 29,MALE,2022-01-06,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,BULACAN,CALUMPIT,PH031407000,PALIMBANG,PH031407018,RECOVERED,NO,2022-01-06,NaN,"Health Status is ""Recovered"", but no Date Reco..."

In [81]:
phsumm = pd.pivot_table(ph_sample, index='DateRepConf', values='CaseCode', aggfunc='count')
phsumm

             CaseCode
DateRepConf
2020-01-30          1
2020-02-03          1
2020-02-05          1
2020-03-06          2
2020-03-07          1
...               ...
2022-01-07      21657
2022-01-08      26378
2022-01-09      28630
2022-01-10      33089
2022-01-11       3365

[680 rows x 1 columns]

In [82]:
phsumm.to_csv("phcasecount.csv")

In [ ]:
phrt = covid19.r_covid(phsumm)